<div class="container mt-5">
  <%= form_with model: @customer, url: admin_update_path(@customer.id), method: :patch do |f| %>
  <div class="row">
    <div class="col-md-2 offset-1">
      <p>会員ID</p>
      <P>氏名</P>
      <p>フリガナ</p>
      <p>郵便番号</p>
      <P>住所</P>
      <p>電話番号</p>
      <p>メールアドレス</p>
      <p>会員ステータス</p>
    </div>
    <div class="col-md-3">
      <P><%= @customer.id %></P>
      <p><%= f.text_field :last_name %></p>
      <p><%= f.text_field :last_name_kana %></p>
      <p><%= f.text_field :postal_code %></p>
      <p><%= f.text_field :address %></p>
      <p><%= f.text_field :telephone_number %></p>
      <p><%= f.email_field :email %></p>
      <p><%= f.radio_button :is_deleted, @customer.is_deleted, null: false %>
         有効
         <%= f.radio_button :is_deleted, @customer.is_deleted, null: true %>
         退会
      </p>
      <P></P><br />
      <%= f.submit "変更を保存", class: "btn btn-success" %>
    </div>
    <div class="col-md-6">
      <p></p><br>
      <p><%= f.text_field :first_name %></p>
      <p><%= f.text_field :first_name_kana %></p>
    </div>
  </div>
  <% end %>
</div>