<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <p>会員ID</p>
      <P>氏名</P>
      <p>フリガナ</p>
      <p>郵便番号</p>
      <P>住所</P>
      <p>電話番号</p>
      <p>メールアドレス</p>
      <p>会員ステータス</p>
    </div>
    <div class="col-md-8">
      <P><%= @customer.id %></P>
      <p><%= @customer.last_name + ' ' + @customer.first_name %></p>
      <p><%= @customer.last_name_kana + ' ' + @customer.first_name_kana %></p>
      <p><%= @customer.postal_code %></p>
      <p><%= @customer.address %></p>
      <p><%= @customer.telephone_number %></p>
      <p><%= @customer.email %></p>
      <p class="text-secondary font-weight-bold">
        <% if @customer.is_deleted %>
        退会
      </p>
        <% else %>
      <p class="text-success font-weight-bold">
        有効
        <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-3">
      <%= link_to "編集する", admin_edit_path(@customer.id), class: "btn btn-success" %>
      <%= link_to "注文履歴一覧を見る", admin_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>