<div class="container mt-5">
  <div class="row">
    <div class="col-2 offset-10">
      <%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete, class: "btn btn-danger" %>
    </div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @cart_items.each do |cart_item| %>
        <tr>
          <td><%= image_tag cart_item.item.get_image(150,150) %>
              <%= cart_item.item.name %>
          </td>
          <td><%= cart_item.item.with_tax_price %></td>
          <%= form_with model: cart_item, url: cart_item_path(cart_item.id), method: :patch do |f| %>
          <td><%= f.select :amount, *[1..10], { selected: cart_item.amount } %>
              <%= f.submit "変更", class: "btn btn-success" %>
          </td>
          <td><%= cart_item.item.with_tax_price * cart_item.amount %></td>
          <% @sum += cart_item.item.with_tax_price * cart_item.amount %>
      <% end %>
          <td><%= link_to cart_item_path(cart_item.id), method: :delete do %>
            <button class="btn btn-danger">削除する</button>
              <% end %>
          </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-md-5 offset-md-1">
      <%= link_to "買い物を続ける", root_path, class: "btn btn-primary"%>
    </div>
    <div class="col-md-2 offset-md-3">合計金額</div>
    <%= @sum %>
    <div class="col-md-7 offset-md-5">
      <%= link_to "情報入力に進む", new_order_path, class: "btn btn-success"%>
    </div>
  </div>
</div>