<div class="container mt-5">
  <div class="row">
  <%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %> 
  <%#今回は情報入力した後確認画面に飛ぶためpostで送る情報はない。method: :postはなくても機能する%>
    <strong>支払方法</strong>
    <div class="col-auto">
      <p></p>
      <p><%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
          <%#= f.radio_button :プロパティ名, "フォームで送る値" %>
          <%#= f.radio_button :payment_method, "credit_card" %>
          <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
          <%#= f.label :プロパティ名, "表示する値" %>
          <%#= f.label :payment_method_credit_card, "クレジットカード" %>
      </p>
      
      <p><%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
        <%#= f.radio_button :payment_method, "transfer" %>
        <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>
        <%#= f.label :payment_method_transfer, "銀行振込" %>
      </p>
    </div>
    <strong>お届け先</strong>
    <div class="col-auto">
      <%#情報を選択するのは支払方法のみ.配送先は表示するだけなので新規登録の情報から引っ張ってくれば良い%>
      <%= "〒#{current_customer.postal_code}" %><br>
      <%= "#{current_customer.address}"%><br>
      <%= current_customer.last_name + current_customer.first_name %>
    </div>
    <div class="mt-5 col-6 offset-5">
      <%= f.submit "確認画面に進む", class: "btn btn-primary" %>
    </div>
  <% end %>
  </div>
</div>